*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    scroll-padding-top: 2rem;
    list-style: none;
}

:root{
    --main-color: #e89703;
    --second-color: #1e3932;
}

img{
    width: 100%;
}

section{
    padding: 10px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color)
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 10%;
    transition: 0.2s;
}


.logo{
    font-size: 25px;
    align-items: center;
    color: #0047ab;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    padding: 11px 20px;
    color: var(--second-color);
    font-size: 600;
}

.navbar a:hover{
    color: var(--main-color);
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-text{
    flex: 1 1 17rem;
}

.home-img{
    flex: 1 1 17rem;
}

.home-img img{
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(0 , -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}

.home-text h1{
    font-size: 4rem;
    font-weight: bolder;
}

.home-text h1 span{
    color: var(--main-color);
}

.home-text p{
    font-size: 19px;
    line-height: 1.5;
    width: 80%;
    margin: 20px 0 35px 0;
}

.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover{
    color: #fff;
    background: var(--second-color);
}

.heading{
    text-align: center;
    font-size: 3.4rem;
    background: linear-gradient(var(--second-color), #dddcfa);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.specs-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
}

.box p{
    margin-bottom: 4rem;
    line-height: 1.5;
    font-size: 19px;
    width: 80%;
    margin-top:1rem;
}

.box img{
    width: 7%;
    margin-bottom: 1.2rem;
}

.spec-img img{
    width: 90%;
    margin-bottom: 2rem;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.product-container .box{
    padding: 10px;
    box-shadow: 0 5px 8px rgb(15 54 55 / 10%);
    border-radius: 0.5rem;
    height: 250px;
    width: 200px;
    display: grid;
    margin-top: 4rem;
}

.product-container .box:hover{
    transform: scale(1.067);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.product-container .box img{
    width: 110%;
    height: 100%;
    justify-content: center;
    margin-left: -10px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 0.1rem;
}

.product-container .box h3{
    font-size: 0.9rem;
    text-align: center;
}

.product-container .box span{
    font-weight: 500;
    text-align: center;
}


.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.about-img{
    margin-right: 5rem;
    width: 90%;
}

.about-container .box{
    text-align: center;
    margin-top: 5rem;
    line-height: 1.5;
    font-size: 19px;
    width: 80%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a{
    margin: 0.5rem;
}

.social a img{
    width: 4%;
    border-radius: 50%;
}
.left img{
    margin-left: 22rem;
}

.links{
    margin: 2rem 0 1rem;
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.contact p{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

